Options -Indexes

<Files "model-query.php">
    Require all denied
</Files>

<RequireAll>
    Require all granted
    Require not host idiots.com moreidiots.com

    <RequireAny>
        Require ip 192.168
        Require ip 192.167
        Require ip 127.0.0.1
        Require ip ::1
    </RequireAny>
</RequireAll>


